<!-- start custom footer snippets -->
<!-- SideFooter -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5416704505748097"
     data-ad-slot="5909996015"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Scroll to top -->
<div id='scroll-to-top'>
    <span class='fa-stack fa-lg'>
        <i class='fa fa-circle fa-stack-2x circle'></i>
        <i class='fa fa-angle-double-up fa-stack-1x fa-inverse up-arrow'></i>
    </span>
</div>
<!-- end custom footer snippets -->
