<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->


<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon/favicon.ico">

{% comment %} 
<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favigon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favigon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favigon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favigon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favigon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favigon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favigon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favigon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favigon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favigon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favigon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favigon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favigon/favicon-16x16.png">
<link rel="manifest" href="assets/images/favigon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/images/favigon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff"> {% endcomment %}

<!-- end custom head snippets -->