---
title: "Lazyduo Lab"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/fake.jpg
  actions:
    - label: "GitHub"
      url: "https://github.com/lazyduo"
excerpt: "Lazyduo 블로그 입니다."
intro: 
  - excerpt: 'Just take my hand
Hold it tight
I will protect you
From all around you
I will be here'
feature:
  - image_path: /assets/images/lazyduo.png
    alt: "lazyduo logo"
    title: "Team Lazyduo"
    excerpt: 'Dada + Cera'
    url: "about"
    btn_label: "About us"
    btn_class: "btn--primary"
---
{% include feature_row id="feature" type="center" %} 

{% include feature_row id="intro" type="center" %}