---
title: "Lazyduo Lab"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/fake.jpg
  actions:
    - label: "GitHub"
      url: "https://github.com/lazyduo"
excerpt: "꿈에서도 코딩하는 개발자와<br>항상 고민하는 번역가"
intro: 
  - excerpt: 'Just take my hand<br>Hold it tight<br>I will protect you<br>From all around you<br>I will be here'
feature:
  - image_path: /assets/images/lazyduo.png
    alt: "lazyduo logo"
    title: "Team Lazyduo"
    excerpt: 'Dada + Cera'
    url: "about"
    btn_label: "About us"
    btn_class: "btn--primary"
---
{% include feature_row id="feature" type="center" %} 

{% comment %} {% include feature_row id="intro" type="center" %} {% endcomment %}