---
title: "Lazyduo Lab"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "1"
  {% comment %} overlay_image: /assets/images/unsplash-image-1.jpg {% endcomment %}
  actions:
    - label: "Github"
      url: "https://github.com/lazyduo"
excerpt: "Lazyduo 블로그 입니다."
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature:
  - image_path: /assets/images/lazyduo.png
    alt: "lazyduo logo"
    title: "Team Lazyduo"
    excerpt: 'Dada + Cera'
    url: "about"
    btn_label: "About us"
    btn_class: "btn--primary"
---
{% include feature_row id="feature" type="center" %} 

{% include feature_row id="intro" type="center" %}